@import '../../scss/variables.scss';

.container {
	background: blue;
	display: flex;
	justify-content: end;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 300px;
	font-size: 14px;
	font-weight: 600;
}

.search__container {
}

.user {
	display: flex;
	align-items: center;
}
